 @font-face { 
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Bold.ttf') format('ttf'),
        url('../fonts/Helvetica-BoldOblique.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-compressed-5871d14b6903a.otf') format('otf'),
        url('../fonts/helvetica-light-587ebe5a59211.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Oblique.ttf') format('ttf'),
        url('../fonts/helvetica-rounded-bold-5871d05ead8de.otf') format('otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('ttf'),
        url('../fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-Compressed.woff2') format('woff2'),
        url('../fints/Helvetica-Compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fints/Helvetica-Bold.woff2') format('woff2'),
        url('../fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica-BoldOblique.woff2') format('woff2'),
        url('../fonts/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
